<h1>Demo#index</h1>
<p>"Hello world from index"</p>

<a href="/demo/hello">Hello page 1</a><br />

<!-- link_to (text, target)
"demo/index"
{:controller => 'demo', :action => 'index'}
-->
<%= link_to('Hello page 2', {:action => 'hello'}) %><br />



<!-- link_to with URL parameters -->
<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20}) %>
<br />

<!-- link_to Roar, with onclick option -->
<%= link_to('Roar', '#', :onclick => "jsRoar('JavaScript'); return true;") %>
